#page4 {
    background-color: pink;
}

#header {
    text-align: center;
    font-size: 1.5em;
}

#completed-list {
    float: right;
    position: absolute;
    right: 700px;
    top: 70px;
}

#completed-list button:hover {
    background-color: lightgreen;
}

ul input:hover {
    background-color: blue;
}

button:hover {
    background-color: red;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}








/*p, h1 {
        color: blue;
}

h1.red {
    color: red;
}

.dark-img:hover {
    opacity: 0.5;
    display: none;
}*/
